.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.message {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.subMessage {
  font-size: 1.2rem;
  color: #666;
}
